{% extends 'base.html.twig' %}

{% block title %}Movie : {{ movie.title }}{% endblock %}

{#{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('payment') }}
{% endblock %}#}

{% block body %}
<div class="example-wrapper">
    <h1>Movie : {{ movie.title }}</h1>

    <ul>
        <li>Released At : {{ movie.releasedAt|date('d M Y') }}</li>
        <li>Genre : {{ movie.genre|join(', ') }}</li>
    </ul>
</div>
{% endblock %}
