{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/benjamin/Dev/sl/formations/training-14-11-22/src/Controller/HelloController.php'|file_link(0) }}">src/Controller/HelloController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/benjamin/Dev/sl/formations/training-14-11-22/templates/hello/index.html.twig'|file_link(0) }}">templates/hello/index.html.twig</a></code></li>
        {#{% for letter in 0..100 %}
            <li>{{ loop.index0 }} : {{ letter }}</li>
        {% endfor %}#}
    </ul>
    <img src="{{ asset('build/images/31116_JssY.jpeg') }}" alt="image drole ou pas">
</div>
{% endblock %}
